.msg-popup {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    bottom: 30px;
    left: 40px;
    z-index: 2;
    background: #262626;
    border-radius: 8px;
    font-size: medium;
    max-width: 440px;
    color: white;
    border-left: 18px solid red;
    -webkit-animation: popup-anim 5s linear;
    animation: popup-anim 5s linear;
}

.msg-popup .popup-txt {
    padding: 10px 14px 10px 14px;
}

@keyframes popup-anim {
    0% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }

    10% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
}